

body {
    font-family: 'Outfit', sans-serif;
    
}
.flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.playerChoice {

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

button:hover {
    transform: scale(1.3);
    border-color: #b42222;
    box-shadow: 0 0 1rem #25252500;


}

.playerChoice button img {

    width: 70px;
    height: 70px;
}


img {
    width: 80px;
    height: 80px;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;

}



.choices {
    max-width: auto ;
    display: flex;
    gap: 30px;

}

.compChoice,
.userChoice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: black 2px solid;
    margin-bottom: 10px;

}



.compScore,
.userScore {
    display: flex;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: black 2px solid;


}




.labelChoices {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 15px;



}
.labelScore {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.roundWinner {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: black 2px solid;
    margin-top: 10px;
}

.roundWinner p {
    text-align: center;
}

.hide {
    display: none;
}

.reset {
    width: 100px;
    height: 50px;
    align-self: center;
    border: 1px solid black;
    margin-bottom: 30px;
    border-radius: 15px;
    

    font-size: 15px;
}